// Colors

$colour-1: #171D4B;
$colour-2: #2ED3C6;
$colour-3: #F8F5E6;
$colour-4: #AFE19F;

$colour-text: #B2B2B2;
$colour-muted: #E5E5E5;
$colour-white: #ffffff;

// Fonts

$font: 'Inter', sans-serif;